<div class="change-password-container">
  <h2>Promijeni lozinku</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="currentPassword">Trenutna lozinka</label>
      <input id="currentPassword" formControlName="currentPassword" type="password" placeholder="Unesite trenutnu lozinku">
      <div class="error" *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.hasError('required')">
        Trenutna lozinka je obavezna.
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">Nova lozinka</label>
      <input id="newPassword" formControlName="newPassword" type="password" placeholder="Unesite novu lozinku">
      <div class="error" *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('required')">
        Nova lozinka je obavezna.
      </div>
      <div class="error" *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('minlength')">
        Lozinka mora imati najmanje 6 karaktera.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmNewPassword">Potvrdi novu lozinku</label>
      <input id="confirmNewPassword" formControlName="confirmNewPassword" type="password" placeholder="Potvrdite novu lozinku">
      <div class="error" *ngIf="changePasswordForm.touched && changePasswordForm.errors && changePasswordForm.errors['mismatch']">
        Lozinke se ne podudaraju!
      </div>
    </div>
    <button type="submit" [disabled]="changePasswordForm.invalid">Promijeni lozinku</button>
  </form>

  <div class="success-box" *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <div class="error-box" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>
